#home-page-search-bar {
    padding: 10px;
    margin-top: 1px;
    margin-right: 1px;
    border: none;
}

////////////////////
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
	font-family: 'Open Sans Condensed';
}

body{
	background:#FFFFFF;
}
.w3layouts-banner-top{
    padding: .2em 0;
    background: #F44336;
}
/*-- banner --*/
.banner{
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    padding: 0em 0 12em;
}
.top-banner-left{
	float:left;
	width:40%;
}
.top-banner-left ul{
	padding:0;
	margin:0;
}
.top-banner-left ul li{
	display:inline-block;
	color:#fff;
	font-size:.875em;
}
.top-banner-left ul li a{
    color: #fff;
    font-size: 1em;
	text-decoration:none;
}
.top-banner-left ul li:nth-child(2) {
    margin-left: 3em;
}
.top-banner {
    padding: .5em 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.23);
}
.top-banner-right{
	float:right;
}
.top-banner-right ul{
	padding:0;
	margin:0;
}
.top-banner-right ul li{
	display:inline-block;
	margin:0 1em;
}
.top-banner-right ul li:nth-child(4){
	margin-right:0;
}
.top-banner-right ul li a{
	color:#fff;
	font-size:1em;
}
.top-banner-right ul li a:hover{
	color:#fd5c63;
}
.logo{
    float: left;
    margin: 1em 0 0 0;
}
.logo h1{
	margin:0;
}
.logo h1 a{
	color:#fff;
	font-size:1em;
	text-decoration:none;
	font-family: 'Pacifico', cursive;
}
/*-- top-nav --*/
.top-nav {
    margin: 2em 0 0 0;
	float: right;
}
.top-nav ul{
    padding: 0;
    margin: 0;
}
.top-nav ul li{
    display: inline-block;
    margin: 0 1em;
    float: left;
}
.top-nav ul li:nth-child(6){
	margin-right:0;
}
ul.nav.navbar-nav {
    float: right;
}
.navbar-default{
	background:none;
	border:none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none !important;
    box-shadow: 1px 0px 0px 0px rgba(72, 72, 72, 0);
}
.top-nav ul li a{
    color: #fff !important;
    font-size: 1em;
    margin: 0;
    text-decoration: none;
    padding: 0;
    font-weight: 700;
}
.top-nav ul li a:hover{
    color: #F44336 !important;
}
.top-nav ul li a.active{
    color: #F44336 !important;
}

.banner-slider {
    margin: 8em 0 0 0;
}
.agileits-banner-info{
    margin: 0 auto;
    text-align: center;
    width: 62%;
}
.agileits-banner-info h3{
    color: #FFFFFF;
    font-size: 4em;
    margin: 0;
    font-weight: 700;
    font-family: 'Open Sans Condensed';
}
.agileits-banner-info p{
    color: #ffffff;
    font-size: .875em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
}
.agileits-banner-info a {
    color: #FFFFFF;
    font-size: 1em;
    padding: .5em 1em;
    display: block;
    border: solid 2px #f44336;
    width: 15%;
    text-align: center;
    text-decoration: none;
    margin: 2em auto 0;
    font-weight: 700;
    letter-spacing: 1px;
    background: #f44336;
}
.agileits-banner-info a:hover{
    border: solid 2px #FFFFFF;
    background: none;
    color: #FFFFFF;
}

.callbacks_tabs{
    list-style: none;
    position: absolute;
    top: 132%;
    left: 47%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 999;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
    background: #f44336;
    border: 2px solid #f44336;
}
/*-- services --*/
.services,.offer,.special,.w3-agile-footer,.w3l-about-top,.different,.team,.codes,.typography,.gallery,.contact{
	padding:4em 0;
}
.services-heading h2,.w3l-offer-heading h3,.wthree-special-heading h3,.w3-about-heading h2,.w3-different-heading h3,.agileits-team-heading h3,.contact-form h3,.w3ls-contact-grids h3{
	color: #2f2f2f;
    margin: 0;
    font-size: 2.5em;
    text-transform: capitalize;
    font-family: 'Pacifico', cursive;
    text-align: center;
}
.w3-agileits-services-grids{
	margin:4em 0 0 0;
}
.w3-agileits-services-left{
    background: url(../images/2.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 570px;
}
.services-right-grid {
    text-align: center;
}
i.fa.fa-anchor, i.fa.fa-comment, i.fa.fa-heartbeat,i.fa.fa-magnet,i.fa.fa-thumbs-up {
    color: #F44336;
    font-size: 2em;
}
.services-icon{
    width: 70px;
    height: 70px;
    text-align: center;
    border: solid 2px #f1f1f1;
    padding: 1.2em 0 0 0;
    margin: 0 auto;
}

.services-right-grid:hover div.hvr-radial-in:before{
  -webkit-transform: scale(0);
  transform: scale(0);	
}
.services-right-grid:hover i.fa.fa-anchor,.services-right-grid:hover i.fa.fa-comment,.services-right-grid:hover i.fa.fa-heartbeat,.services-right-grid:hover i.fa.fa-magnet,.services-right-grid:hover  i.fa.fa-thumbs-up{
	color:#FFFFFF;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;	
}
.services-icon-info h5{
    color: #2f2f2f;
    font-size: 1em;
    font-weight: 600;
    margin: 1em 0 0 0;
}
.services-right-grids:nth-child(2){
	margin:2em 0;
}
.services-icon-info p{
    color: #999999;
    font-size: 1em;
    margin: 1em 0 0 0;
}
/*-- //services --*/
/*-- offer --*/
.offer{
	background:url(../images/3.jpg) no-repeat 0px 0px;
	background-size:cover;
	text-align:center;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.w3l-offer-heading h3 {
    color: #FFFFFF;
}
.agileinfo-offer-grid {
    margin: 4em 0 0 0;
}
.agileinfo-offer-grid h4 {
    color: #FFFFFF;
    background: #F44336;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    line-height: 3em;
    font-size: 2em;
    font-weight: 700;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}
.agileinfo-offer-grid h4 span {
    font-weight: 100;
}
.agileinfo-offer-grid h5{
    color: #FFFFFF;
    font-size: 1.5em;
    margin: 1em 0;
    font-weight: 700;
}
.agileinfo-offer-grid p{
    color: #FFFFFF;
    font-size: 1em;
    margin: 0 auto;
    line-height: 1.8em;
    width: 60%;
}
/*-- //offer --*/
/*-- special --*/
.special{
	
}
.special-grids{
	margin:4em 0 0 0;
}
.w3-agileits-special-grid-info{
    position: relative;
    overflow: hidden;
    padding: .5em;
    margin: 0 .5em;
    border: solid 5px #ececec;
}
.w3-agileits-special-grid-info img{
	width:100%;
}

.agile-special-grid-text h5{
    color: #2f2f2f;
    font-size: 1em;
    margin: 1em 0 0 0;
    line-height: 1.4em;
    font-weight: 700;
}
.agile-special-grid-text p{
    color: #f44336;
    font-size: 2em;
    margin: 1em 0 0 0;
    font-weight: 700;
}
.agile-special-grid-text p del{
    color: #999999;
    font-weight: 100;
}
.owl-theme .owl-controls {
    margin-top: 30px !important;
}
/*-- //special --*/
/*-- footer --*/
.w3-agile-footer{
    background: #191d20;
}
.footer-grid-heading h4{
    color: #ffffff;
    font-size: 2em;
    margin: 0;
}
.footer-grid-info {
    margin: 1em 0 0 0;
}
.footer-grid-info  p{
	margin:0;
    font-size: 1em;
    color: #BBBBBB;
    line-height: 1.8em;
}
.footer-grid-info p span{
	display:block;
}
.footer-grid-info p span a{
    color: #BBBBBB;	
	text-decoration:none;
}
.footer-grid-info p span a:hover{
    color: #ffffff;
}
.footer-grid-info ul{
	padding:0;
	margin:0;
}
.footer-grid-info ul li{
	display:block;
}
.footer-grid-info ul li a{
    font-size: 1em;
    color: #BBBBBB;
    line-height: 1.8em;
	text-decoration:none;
}
.footer-grid-info ul li a:hover{
	color: #ffffff;
}
.social-grid{
    margin: 1em 0 0 0;	
}
.social {
    margin: 1em 0 0 0;
}
.social ul{
	padding:0;
	margin:0;
}
.social ul li{
	display:inline-block;
}
.social ul li a {
	color: #333;
    text-align: center;
}
.social ul li a i.fa.fa-facebook{
    height: 40px;
    width: 40px;
    background: #383838;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-facebook:hover {
    height: 40px;
    width: 40px;
    line-height: 40px;
	background: #3b5998;
}
.social ul li a i.fa.fa-twitter{
    height: 40px;
    width: 40px;
    background: #383838;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-twitter:hover{
    height: 40px;
    width: 40px;
    line-height: 40px;
	background: #1da1f2;
}
.social ul li a i.fa.fa-rss{
    height: 40px;
    width: 40px;
    background: #383838;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-rss:hover{
    height: 40px;
    width: 40px;
    line-height: 40px;
	background: #f26522;
}
.social ul li a i.fa.fa-vk{
    height: 40px;
    width: 40px;
    background: #383838;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-vk:hover{
    height: 40px;
    width: 40px;
    line-height: 40px;
	background: #45668e;
}
.social ul li:nth-child(2){
	margin:0 .5em;
}
.social ul li:nth-child(3){
	margin:0 .5em 0 0;
}
.footer-grid-info form input[type="email"] {
    background: #fff;
    box-shadow: none !important;
    padding: 10px 10px;
    color: #BBBBBB;
    font-size: .875em;
    width: 100% !important;
    font-weight: 400;
    border: 1px solid #BBBBBB;
    margin: 0 0 1em 0;
}
.footer-grid-info form input[type="email"]:focus {
    outline: none;
}
.footer-grid-info form input[type="submit"] {
    border: solid 2px #F44336;
    color: #ffffff;
    font-size: 1em;
    padding: .4em 2em;
    text-decoration: none;
    background: #F44336;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.footer-grid-info form input[type="submit"]:hover{
	color:#FFFFFF;
	border: solid 2px #FFFFFF;
	background:none;
}
.agileits-w3layouts-copyright {
    text-align: center;
    margin: 2em 0 0 0;
}
.agileits-w3layouts-copyright p{
	margin:0;
    font-size: 1em;
    color: #BBBBBB;
}
.agileits-w3layouts-copyright p a{
    color: #FFFFFF;	
	text-decoration:none;
}
.agileits-w3layouts-copyright p a:hover{
	color: #BBBBBB;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- about --*/
.about-banner{
    padding: 0em 0 2em !important;
}
.w3-about-heading h2 {
	color:#FFFFFF;
}
.w3ls-about-info img{
	width:100%;
}
.w3ls-about-info p{
	color:#999999;
	margin:1em 0 0 ;
	font-size:1em;
	line-height:1.8em;
}
/*-- //about --*/
/*-- different --*/
.different{
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.w3-different-heading h3{
    color: #FFF;
}
.w3agile-different-info p{
    text-align: center;
    margin: 3em auto 0;
    font-size: 1em;
    color: #FFFFFF;
    width: 73%;
    line-height: 1.8em;	
}
.w3agile-button {
    margin: 3em 0 0 0;
    text-align: center;
}
.w3agile-button a{
    border: solid 2px #f44336;
    color: #FFFFFF;
    font-size: 1em;
    padding: .5em 2em;
    text-decoration: none;
    background: #f44336;
}
.w3agile-button a:hover{
    border: solid 2px #FFFFFF;
    color: #FFFFFF;
	background:none;
}

/*-- //different --*/

/*--//gallery--*/
/*-- contact --*/
.w3l-map iframe {
    width: 100%;
    min-height: 400px;
    border: none;
}
.e-mail p {
    font-size: 1em;
    margin: 1em 0 0 0;
    color: #473B3B;
    line-height: 1.8em;
    text-align: center;
}
.e-mail p a{
    color: #FD5C63;
    text-decoration: none;
}
.contact-form {
    margin: 3em 0;
}
.contact-form form {
  margin: 2em 0 0 0;
}
.contact-form input[type="text"] {
    width: 32.6%;
    color: #999999;
    background: none;
    outline: none;
    font-size: 1em;
    padding: 1em;
    margin: 0 .5em 1em 0;
    border: solid 2px #cecece;
    -webkit-appearance: none;
}
.contact-form input[type="text"]:nth-child(3) {
  margin-right: 0;
}
.contact-form textarea {
  resize: none;
  width: 100%;
  color: #999999;
  background: none;
  font-size: 1em;
  outline: none;
  padding: 1em;
  border: solid 2px #cecece;
  min-height: 150px;
  -webkit-appearance: none;
}
.contact-form input[type="submit"] {
    border: solid 2px #F44336;
    color: #ffffff;
    font-size: 1em;
    font-weight: 600;
    padding: .4em 2em;
    text-decoration: none;
    letter-spacing: 1px;
    background: #F44336;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact-form input[type="submit"]:hover {
	border: solid 2px #2f2f2f;
    background: none;
    color: #2f2f2f;
}
.agileits-address-grids {
  margin-top: 2em;
}
.agileinfo-address-grid{
  width: 80%;
  margin: 0 auto;
}
.agileinfo-address-grid h5 {
    font-size: 1em;
    margin: 0 0 1em 0;
    color: #473B3B;
    text-align: center;
    line-height: 1.5em;
    font-weight: 600;
}
.agileinfo-address-grid h5 span {
  display: block;
}
.w3-agileits-address-info-left{
  float: left;
}
.w3-agileits-address-info-left p {
    font-size: 1em;
    margin: 0;
    color: #473B3B;
    line-height: 1.8em;
}
.address-info-right {
  float: right;
}


